<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new post!</h1>
    <form class="" action="/posts" method="post">
      <label for="name">Post NAme:</label>
      <input type="text" name="name" value=""><br>
      <label for="content">Content:</label>
      <input type="text" name="content" value=""><br>

      <input type="submit" id="submit" value="submit">
    </form>
  </body>
</html>
